.title{
    font-size: 18px;
}

.item-super-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item-container{
    position: relative;
    max-width: 100px;
    min-width: 48%;
    height: 170px;
    margin: auto;
}

.item-container img{
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: 110px;
}

.item-title{
    font-size: 18px;
    margin: 0;
}

.item-est{
    font-size: 12px;
    margin: 0;
    color: #7a7a7a;
}

.ui-edit{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #20bae9;
}

.favorite-title{
    position: relative;
}