.ui-navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #ececec;
    border-top: 2px solid rgb(185, 185, 185);
    display: flex;
}

.nav-item{
    width: 50px;
    margin: auto;
    text-align: center;
    color: grey;
}

.nav-item p{
    margin: 0;
    font-size: 10px;
    padding-top: 2px;
}

.nav-item i{
    font-size: 20px;
}

.active{
    color: #0A97C2;
}